<%- include('blocks/header') %>
<div class="container vertical-align center-align">
  <div>
    <h2>404</h2>
    <h4>
      page not found
    </h4>
  </div>
  <div class="small-padding">
    <%- include('blocks/homeButton') %>
  </div>
</div>

<%- include('blocks/footer') %>
