<%- include('blocks/header') %>
<div class="container vertical-align center-align">
  <div>
    <h2>something went wrong</h2>
    <h3>
      <%= error %>
    </h3>
  </div>
  <div class="small-padding">
    <a class="btn waves-effect waves-light btn-large" href="/">Home
      <i class="material-icons right">home</i>
    </a>
  </div>
</div>

<%- include('blocks/footer') %>
