<%- include('blocks/header') %>

<div class="container vertical-align center-align">
  <div>
    <h2>something went wrong</h2>
    <h3>
      <%= error %>
    </h3>
  </div>
  <div class="small-padding">
    <%- include('blocks/homeButton') %>
  </div>
</div>

<%- include('blocks/footer') %>
