<%- include('blocks/header') %>

<div class="container">
  <h1>maroon</h1>

  <div>
    <form action="/" method="post">
      <div class="row">
        <div class="input-field col s6 offset-s3">
          <input name="query" id="query" type="text" class="validate" required>
          <label for="query">YouTube
            <%= search ? 'video search, ' : ''%>ID, or URL</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6 offset-s3">
          <select name="filter" required>
            <option value="" disabled selected>Choose a download type</option>
            <option value="audioonly">Audio only</option>
            <option value="audioandvideo">Audio and video</option>
          </select>
          <label>Download type</label>
        </div>
      </div>

      <button class="btn waves-effect waves-light red darken-4 btn-large">Download
        <i class="material-icons right">send</i>
      </button>
    </form>
  </div>
</div>

<%- include('blocks/footer') %>
