<%- include('blocks/header') %>

<div class="container">
  <h1>maroon</h1>

  <div>
    <form action="/" method="post">
      <div class="row"> 
        <div class="input-field col s6 offset-s3">
          <input name="query" id="query" type="text" class="validate white-text" required>
          <label for="query">YouTube <%= search ? 'video search, ' : ''%>ID, or URL</label>
        </div>
      </div>

      <button class="btn waves-effect waves-light red darken-4 btn-large">Download
        <i class="material-icons right">send</i>
      </button>
    </form>
  </div>
</div>

<%- include('blocks/footer') %>
