<%- include('blocks/header') %>

<div class="container vertical-align center-align">
  <div>
    <h2>welcome</h2>
    
    <h4>maroon is installed and running</h4>
  </div>
  <div class="small-padding">
    <%- include('blocks/homeButton') %>
  </div>
</div>

<%- include('blocks/footer') %>
