</main>
<footer class="page-footer red darken-4">
  <div class="footer-copyright">
    <div class="container">
      Copyright <a class="white-text" href="https://jonahsnider.ninja">Jonah Snider</a>, <%= new Date().getFullYear() %>
    </div>
  </div>
</footer>
<script type="text/javascript" src="<%= siteData.url %>/public/js/materialize.min.js"></script>
<script type="text/javascript" src="<%= siteData.url %>/public/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="<%= siteData.url %>/public/js/dom.min.js"></script>
</body>

</html>
